@font-face {
  font-family: "Exoct";
  src: url("https://assets.codepen.io/1480814/films.EXH_____.ttf");
}

body {
  margin: 0;
  min-height: 100vh;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: min(230px, 35vmin);
  place-content: end center;
  gap: 50px;
  background: linear-gradient(#0000, rgb(50 50 50 / 88%)),
    url("img/back.jpg") top/cover;
}

figure {
  width: 100%;
  aspect-ratio: 1;
  margin: 0 0 60px;
  padding: 5px 20px 0;
  box-sizing: border-box;
  display: grid;
  grid-template-rows: 100%;
  cursor: pointer;
  position: relative;
  filter: drop-shadow(0 0 20px rgb(0 0 0/50%));
}

figure:before {
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
  background: top/cover;
  transform-origin: bottom;
  filter: brightness(0.9);
  transition: 0.5s;
}

figure:before {
  background-image: url(https://assets.codepen.io/1480814/necro-back.jpg);
}

figure + figure:before {
  background-image: url(https://assets.codepen.io/1480814/druid-bac.jpg);
}

figure:hover::before {
  filter: brightness(0.3);
  transform: perspective(500px) rotateX(60deg);
}

figcaption {
  grid-area: 1/1;
  width: calc(100% + 40px);
  font-family: Exoct;
  color: white;
  font-size: min(32px, 5vmin);
  text-align: center;
  place-self: end center;
  transform: perspective(500px) translateY(100%) rotateX(-90deg);
  backface-visibility: hidden;
  transform-origin: top;
  background: #000;
  transition: 0.5s;
}

figure:hover figcaption {
  transform: perspective(500px) translateY(100%) rotateX(-30deg);
}

img {
  grid-area: 1/1;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
  filter: contrast(0.8) brightness(0.7);
  place-self: end center;
  transition: 0.5s;
}

figure:hover img {
  width: 130%;
  height: 255%;
  filter: contrast(1);
}
